<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.uri_mapping">
		<mapping
			source="pathmap://QML_ZEROMQ/"
			target="platform:/plugin/org.eclipse.papyrus.designer.components.modellibs.zmq/models/library/">
		</mapping>
	</extension>
	<extension point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
		<library
			description="Designer model library for ZeroMQ"
			iconpath="platform:/plugin/org.eclipse.papyrus.designer.components.transformation.ui/icons/designer-16x16.gif"
			name="Designer model library: ZeroMQ"
			path="pathmap://QML_ZEROMQ/ZMQ_lib.uml"
			provider="CEA LIST">
		</library>
	</extension>
	<extension point="org.eclipse.papyrus.designer.components.transformation.core.instanceConfig">
		<client class="org.eclipse.papyrus.designer.components.modellibs.zmq.iconfigurators.ZMQSocketConfigurator" configuratorID="ZMQSocketConfigurator">
		</client>
	</extension>
</plugin>
