<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.designer.transformation.ui.handlers.CreateDepPlanHandler"
            description="Create deployment plan"
            id="org.eclipse.papyrus.designer.transformation.ui.menuActions.CreateDepPlanCmd"
            name="dummy">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.designer.transformation.ui.handlers.CreatePlatformHandler"
            description="Create platform definition"
            id="org.eclipse.papyrus.designer.transformation.ui.menuActions.CreatePlatformCmd"
            name="dummy">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.designer.transformation.ui.handlers.InstantiateDepPlanHandler"
            description="Generate deployment models and code from plan"
            id="org.eclipse.papyrus.designer.transformation.ui.menuActions.InstantiateDepPlanCmd"
            name="dummy">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.designer.transformation.ui.handlers.SyncHandler"
            description="Synchronize derived elements"
            id="org.eclipse.papyrus.designer.transformation.ui.menuActions.SyncCmd"
            name="dummy">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.designer.transformation.ui.handlers.ConfigureInstanceHandler"
            description="Configure instance"
            id="org.eclipse.papyrus.designer.transformation.ui.menuActions.ConfigureInstanceCmd"
            name="dummy">
      </command>
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="org.eclipse.papyrus.designer.transformation.ui.handlers.AllocateHandler"
            description="Allocate to node"
            id="org.eclipse.papyrus.designer.transformation.ui.menuActions.AllocateCmd"
            name="dummy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
	<menuContribution
		allPopups="false"
		locationURI="popup:org.eclipse.papyrus.designer.popup?after=designer">
		<command
               commandId="org.eclipse.papyrus.designer.transformation.ui.menuActions.CreateDepPlanCmd"
               icon="icons/depPlan.gif"   
               
               id="org.eclipse.papyrus.designer.transformation.ui.menuActions.CreateDepPlanMenu"
               label="Create deployment plan"
               mnemonic="d"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.designer.transformation.ui.menuActions.CreatePlatformCmd"
               icon="icons/depPlan.gif"
               id="org.eclipse.papyrus.designer.transformation.ui.menuActions.CreatePlatformMenu"
               label="Create platform definition"
               mnemonic="d"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.designer.transformation.ui.menuActions.SyncCmd"
               icon="icons/sync.gif"
               id="org.eclipse.papyrus.designer.transformation.ui.menuActions.SyncMenu"
               label="Synchronize derived elements"
               mnemonic="s"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.designer.transformation.ui.menuActions.InstantiateDepPlanCmd"
               icon="icons/deploy.gif"
               id="org.eclipse.papyrus.designer.transformation.ui.menuActions.CreateDepPlanMenu"
               label="Generate deployment models and code from plan"
               mnemonic="g"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.designer.transformation.ui.menuActions.ConfigureInstanceCmd"
               icon="icons/selContainer.gif"
               id="org.eclipse.papyrus.designer.transformation.ui.menuActions.ConfigureInstanceMenu"
               label="Configure instance properties"
               mode="FORCE_TEXT"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.designer.transformation.ui.menuActions.AllocateCmd"
               icon="icons/allocation.gif"
               id="org.eclipse.papyrus.designer.transformation.ui.menuActions.AllocateMenu"
               label="Allocate to node"
               mnemonic="A"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
     	</menuContribution>
	</extension>
	<extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            class="org.eclipse.papyrus.designer.transformation.ui.preferences.PapyrusDesignerPreferencePage"
            id="org.eclipse.papyrus.designer.transformation.ui.preferences.PapyrusDesignerPreferencePage_ID"
            name="Papyrus designer preferences">
      </page>
    </extension>
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.papyrus.designer.transformation.ui.preferences.PapyrusDesignerPreferenceInitializer">
      </initializer>
    </extension>
</plugin>
