<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension id="DML_TRAFO" point="org.eclipse.emf.ecore.uri_mapping">
		<mapping source="pathmap://DML_TRAFO/" target="platform:/plugin/org.eclipse.papyrus.designer.transformation.library/models/library/">
		</mapping>
	</extension>
    <extension name="Designer transformation library" point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
		<library
			description="Designer transformation library"
			iconpath="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/designer-16x16.gif"
			name="Designer model library: M2M transformations"
			path="pathmap://DML_TRAFO/trafos.uml"
			provider="CEA LIST">
		</library>
	</extension>
	<extension name="StateMachine" point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
		<library
			iconpath="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/designer-16x16.gif"
			name="Designer model library: State-machines"
			path="pathmap://DML_TRAFO/statemachine.uml"
			provider="CEA LIST">
		</library>
	</extension>
	<extension point="org.eclipse.papyrus.uml.diagram.wizards.templates">
		<template
			id="org.eclipse.papyrus.designer.components.transformation.modelibs.core.wizardTemplates.DesignerCBForMARTE"
			language="uml"
			name="Papyrus Designer for MARTE (component based)"
			file="models/wizardTemplates/DesignerCBModel.uml"
			di_file="models/wizardTemplates/DesignerCBModel.di"
			notation_file="models/wizardTemplates/DesignerCBModel.notation">
		</template>
		<template
			id="org.eclipse.papyrus.designer.components.transformation.modelibs.core.wizardTemplates.DesignerCBSimple"
			language="uml"
			name="Designer without MARTE (component based)"
			file="models/wizardTemplates/DesignerCBSimple.uml"
			di_file="models/wizardTemplates/DesignerCBSimple.di"
			notation_file="models/wizardTemplates/DesignerCBSimple.notation">
		</template>
	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.instanceConfig">
		<client class="org.eclipse.papyrus.designer.transformation.library.iconfigurators.CallEventConfigurator" configuratorID="CallEventConfigurator">
		</client>
	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.instanceConfig">
		<client class="org.eclipse.papyrus.designer.transformation.library.iconfigurators.AnimServiceConfigurator" configuratorID="AnimServiceConfigurator">
		</client>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard
			category="org.eclipse.ui.Examples/org.eclipse.papyrus.examples"
			class="org.eclipse.papyrus.designer.components.modellibs.core.wizards.HelloWorldModelWizard"
			finalPerspective="org.eclipse.papyrus.infra.core.perspective"
			icon="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/designer-16x16.gif"
			id="org.eclipse.papyrus.designer.components.modellibs.core.new.HelloWorld"
			name="Papyrus Designer component-based hello world example">
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
		<wizard
			category="org.eclipse.ui.Examples/org.eclipse.papyrus.examples"
			class="org.eclipse.papyrus.designer.components.modellibs.core.wizards.ProducerConsumerModelWizard"
			finalPerspective="org.eclipse.papyrus.infra.core.perspective"
			icon="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/designer-16x16.gif"
			id="org.eclipse.papyrus.designer.components.modellibs.core.new.ProducerConsumer"
			name="Papyrus Designer component-based producer/comsumer example">
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
		<wizard
			category="org.eclipse.ui.Examples/org.eclipse.papyrus.examples"
			class="org.eclipse.papyrus.designer.components.modellibs.core.wizards.SimpleSMModelWizard"
			finalPerspective="org.eclipse.papyrus.infra.core.perspective"
			icon="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/designer-16x16.gif"
			id="org.eclipse.papyrus.designer.components.modellibs.core.new.SimpleSM"
			name="Papyrus Designer component-based example using a simple state machine">
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
		<wizard
			category="org.eclipse.ui.Examples/org.eclipse.papyrus.examples"
			class="org.eclipse.papyrus.designer.components.modellibs.core.ABitComplexSMModelWizard"
			finalPerspective="org.eclipse.papyrus.infra.core.perspective"
			icon="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/designer-16x16.gif"
			id="org.eclipse.papyrus.designer.components.modellibs.core.new.ABitComplexSM"
			name="Papyrus Designer component-based example using a bit more complex state machine">
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="trafos::bindingHelpers::LoopOperations"
			class="org.eclipse.papyrus.designer.transformation.library.transformations.bindinghelpers.LoopOperations">
		</transformation>
	</extension>
		<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="trafos::bindingHelpers::BindOpaqueBehavior"
			class="org.eclipse.papyrus.designer.transformation.library.transformations.bindinghelpers.BindOpaqueBehavior">
		</transformation>
	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="trafos::bindingHelpers::BindOperation"
			class="org.eclipse.papyrus.designer.transformation.library.transformations.bindinghelpers.BindOperation">
		</transformation>
	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="trafos::bindingHelpers::BindCppIncludeToFirstActual"
			class="org.eclipse.papyrus.designer.transformation.library.transformations.bindinghelpers.BindCppIncludeToFirstActual">
		</transformation>
	</extension>

	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="trafos::m2mtransformations::M2MFromStereotype"
			class="org.eclipse.papyrus.designer.transformation.library.transformations.M2MFromStereotype">
		</transformation>
	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="trafos::m2mtransformations::DeployToNodes"
			class="org.eclipse.papyrus.designer.transformation.library.transformations.DeployToNodes">
		</transformation>
	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="trafos::m2mtransformations::MergeClass"
			class="org.eclipse.papyrus.designer.transformation.library.transformations.MergeClass">
		</transformation>
	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="trafos::m2mtransformations::BootLoaderGen"
			class="org.eclipse.papyrus.designer.transformation.library.transformations.BootLoaderGen">
		</transformation>
	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="trafos::m2mtransformations::GenerateCode"
			class="org.eclipse.papyrus.designer.transformation.library.transformations.GenerateCode">
		</transformation>
	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="trafos::m2mtransformations::CreateAndConfigureProject"
			class="org.eclipse.papyrus.designer.transformation.library.transformations.CreateAndConfigureProject">
		</transformation>
	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="statemachine::rules::CompleteSM"
			class="org.eclipse.papyrus.designer.transformation.library.transformations.CompleteStatemachine">
		</transformation>
	</extension>
	
	<extension
			point="org.eclipse.help.toc">
		<toc file="help/modellibs-core-examples.xml"/>
		<toc file="help/modellibs-core-library.xml"/>
	</extension>

	<extension point="org.eclipse.papyrus.designer.transformation.extensions.textTemplate">
		<template
			class="org.eclipse.papyrus.designer.transformation.library.xtend.CppUtils"
			templateID="CppUtils">
		</template>
 	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.textTemplate">
		<template
			class="org.eclipse.papyrus.designer.transformation.library.xtend.FIFO"
			templateID="FIFO">
		</template>
	</extension>

</plugin>
