<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension id="ProvideInterface" point="org.eclipse.papyrus.designer.components.fcm.profile.fcmPortMappingRule">
		<client class="org.eclipse.papyrus.designer.components.modellibs.core.mappingrules.ProvideInterface" portKindName="ProvideInterface">
            class=&quot;org.eclipse.papyrus.designer.components.transformation.gentools.cpp.CppLanguageSupport&quot;
		</client>
	</extension>
	<extension id="UseInterface" point="org.eclipse.papyrus.designer.components.fcm.profile.fcmPortMappingRule">
 		<client class="org.eclipse.papyrus.designer.components.modellibs.core.mappingrules.UseInterface" portKindName="UseInterface">
		</client>
	</extension>
	<extension id="PullConsumer" point="org.eclipse.papyrus.designer.components.fcm.profile.fcmPortMappingRule">
		<client class="org.eclipse.papyrus.designer.components.modellibs.core.mappingrules.PullConsumer" portKindName="PullConsumer">
		</client>
	</extension>
	<extension id="PushConsumer" point="org.eclipse.papyrus.designer.components.fcm.profile.fcmPortMappingRule">
		<client class="org.eclipse.papyrus.designer.components.modellibs.core.mappingrules.PushConsumer" portKindName="PushConsumer">
		</client>
	</extension>
	<extension id="PushProducer" point="org.eclipse.papyrus.designer.components.fcm.profile.fcmPortMappingRule">
		<client class="org.eclipse.papyrus.designer.components.modellibs.core.mappingrules.PushProducer" portKindName="PushProducer">
		</client>
	</extension>
	<extension id="ExtendedPort" point="org.eclipse.papyrus.designer.components.fcm.profile.fcmPortMappingRule">
		<client class="org.eclipse.papyrus.designer.components.modellibs.core.mappingrules.ExtendedPort" portKindName="ExtendedPort">
		</client>
	</extension>
	<extension id="ExtendedPort2" point="org.eclipse.papyrus.designer.components.fcm.profile.fcmPortMappingRule">
		<client class="org.eclipse.papyrus.designer.components.modellibs.core.mappingrules.ExtendedPort2" portKindName="ExtendedPort2">
		</client>
	</extension>
	<extension id="TemplatePort" point="org.eclipse.papyrus.designer.components.fcm.profile.fcmPortMappingRule">
		<client class="org.eclipse.papyrus.designer.components.modellibs.core.mappingrules.TemplatePort" portKindName="TemplatePort">
		</client>
	</extension>
	<extension id="UseConjIntf" point="org.eclipse.papyrus.designer.components.fcm.profile.fcmPortMappingRule">
		<client class="org.eclipse.papyrus.designer.components.modellibs.core.mappingrules.UseConjIntf" portKindName="UseConjIntf">
		</client>
	</extension>
   <extension id="PushProdPullCons" point="org.eclipse.papyrus.designer.components.fcm.profile.fcmPortMappingRule">
      <client class="org.eclipse.papyrus.designer.components.modellibs.core.mappingrules.PushProdPullCons" portKindName="PushProdPullCons">
      </client>
   </extension>
     <extension id="PushProdPullCons" point="org.eclipse.papyrus.designer.components.fcm.profile.fcmPortMappingRule">
      <client class="org.eclipse.papyrus.designer.components.modellibs.core.mappingrules.AMIcallback" portKindName="AMIcallback">
      </client>
   </extension>
     <extension id="PushProdPullCons" point="org.eclipse.papyrus.designer.components.fcm.profile.fcmPortMappingRule">
      <client class="org.eclipse.papyrus.designer.components.modellibs.core.mappingrules.AMIpoll" portKindName="AMIpoll">
      </client>
   </extension>
	<extension id="DML_CORE" point="org.eclipse.emf.ecore.uri_mapping">
		<mapping source="pathmap://DML_C_CORE/" target="platform:/plugin/org.eclipse.papyrus.designer.components.modellibs.core/models/library/">
		</mapping>
	</extension>
	<extension name="Designer component library" point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
		<library description="Designer component library" iconpath="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/designer-16x16.gif" name="Designer model library: port kinds and interactions" path="pathmap://DML_C_CORE/componentlib.uml" provider="CEA LIST">
		</library>
	</extension>
	<extension name="FIFO" point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
		<library iconpath="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/designer-16x16.gif" name="Designer model library: FIFO" path="pathmap://DML_C_CORE/fifo.uml" provider="CEA LIST">
		</library>
	</extension>

	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="componentlib::transformations::ConnectorReification"
			class="org.eclipse.papyrus.designer.components.modellibs.core.transformations.ConnectorReification">
		</transformation>
	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="componentlib::transformations::ExecuteOOTrafo"
			class="org.eclipse.papyrus.designer.components.modellibs.core.transformations.ExecuteOOTrafo">
		</transformation>
	</extension>

	<extension point="org.eclipse.papyrus.uml.diagram.wizards.templates">
		<template
			id="org.eclipse.papyrus.designer.components.transformation.modelibs.core.wizardTemplates.DesignerCBForMARTE"
			language="uml"
			name="Papyrus Designer for MARTE (component based)"
			file="models/wizardTemplates/DesignerCBModel.uml"
			di_file="models/wizardTemplates/DesignerCBModel.di"
			notation_file="models/wizardTemplates/DesignerCBModel.notation">
		</template>
		<template
			id="org.eclipse.papyrus.designer.components.transformation.modelibs.core.wizardTemplates.DesignerCBSimple"
			language="uml"
			name="Designer without MARTE (component based)"
			file="models/wizardTemplates/DesignerCBSimple.uml"
			di_file="models/wizardTemplates/DesignerCBSimple.di"
			notation_file="models/wizardTemplates/DesignerCBSimple.notation">
		</template>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<wizard
			category="org.eclipse.ui.Examples/org.eclipse.papyrus.examples"
			class="org.eclipse.papyrus.designer.components.modellibs.core.wizards.HelloWorldModelWizard"
			finalPerspective="org.eclipse.papyrus.infra.core.perspective"
			icon="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/designer-16x16.gif"
			id="org.eclipse.papyrus.designer.components.modellibs.core.new.HelloWorld"
			name="Papyrus Designer component-based hello world example">
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
		<wizard
			category="org.eclipse.ui.Examples/org.eclipse.papyrus.examples"
			class="org.eclipse.papyrus.designer.components.modellibs.core.wizards.ProducerConsumerModelWizard"
			finalPerspective="org.eclipse.papyrus.infra.core.perspective"
			icon="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/designer-16x16.gif"
			id="org.eclipse.papyrus.designer.components.modellibs.core.new.ProducerConsumer"
			name="Papyrus Designer component-based producer/comsumer example">
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
		<wizard
			category="org.eclipse.ui.Examples/org.eclipse.papyrus.examples"
			class="org.eclipse.papyrus.designer.components.modellibs.core.wizards.SimpleSMModelWizard"
			finalPerspective="org.eclipse.papyrus.infra.core.perspective"
			icon="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/designer-16x16.gif"
			id="org.eclipse.papyrus.designer.components.modellibs.core.new.SimpleSM"
			name="Papyrus Designer component-based example using a simple state machine">
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
		<wizard
			category="org.eclipse.ui.Examples/org.eclipse.papyrus.examples"
			class="org.eclipse.papyrus.designer.components.modellibs.core.ABitComplexSMModelWizard"
			finalPerspective="org.eclipse.papyrus.infra.core.perspective"
			icon="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/designer-16x16.gif"
			id="org.eclipse.papyrus.designer.components.modellibs.core.new.ABitComplexSM"
			name="Papyrus Designer component-based example using a bit more complex state machine">
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
	<extension
			point="org.eclipse.help.toc">
		<toc file="help/modellibs-core-examples.xml"/>
		<toc file="help/modellibs-core-library.xml"/>
	</extension>
</plugin>
