<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.common.ui.examples">
		<example
			id="org.eclipse.papyrus.designer.examples.DesignerExamplesSimple.HelloWorld"
			pageImage="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/PapyrusLogo_48x48.png"
			wizardID="org.eclipse.papyrus.designer.examples.category.DesignerExamplesDirect.installer">
			<projectDescriptor
				contentURI="models/examples/HelloWorldOO/"
				name="HelloWorldOO"
				description="apyrus Designer Simple C++ hello world example (direct code generation).">
			</projectDescriptor>
			<fileToOpen
				location="/HelloWorldOO/HelloWorldOO.di">
			</fileToOpen>
		</example>
   </extension>
</plugin>
