<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="instanceConfig" name="instanceConfigName" schema="schema/instanceConfig.exsd"/>
   <extension-point id="externalGenerator" name="externalGenerator" schema="schema/externalGenerator.exsd"/>
   <extension-point id="xtendGenerator" name="xtendGeneratorName" schema="schema/xtendGenerator.exsd"/>
   <extension-point id="m2mTrafo" name="m2mTrafoName" schema="schema/m2mTrafo.exsd"/>
   <extension
         point="org.eclipse.papyrus.infra.core.modelListener">
      <listener
            name="PapyrusDesigner.modelListener"
            realization="org.eclipse.papyrus.designer.transformation.core.listeners.ModelListener">
      </listener>
   </extension>
 </plugin>
