<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
			point="org.eclipse.emf.ecore.uri_mapping">
		<mapping
			source="pathmap://PapyrusJava_PROFILES/"
			target="platform:/plugin/org.eclipse.papyrus.designer.languages.java.profile/profiles/"/>
	</extension>
  
	<extension 
			point="org.eclipse.uml2.uml.generated_package">
		<profile
			uri="http://www.eclipse.org/papyrus/PapyrusJava/1"
			location="pathmap://PapyrusJava_PROFILES/PapyrusJava.profile.uml#_j9REUByGEduN1bTiWJ0lyw"/>
	</extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/papyrus/PapyrusJava/1"
            class="org.eclipse.papyrus.designer.languages.java.profile.PapyrusJava.PapyrusJavaPackage"
            genModel="profiles/PapyrusJava.genmodel"/>
   </extension>

</plugin>
