<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="trafos::m2mtransformations::BootLoaderGen::C++"
			class="org.eclipse.papyrus.designer.transformation.languages.cpp.library.BootLoaderGenCpp">
		</transformation>
	</extension>
	<extension point="org.eclipse.papyrus.designer.transformation.extensions.m2mTrafo">
		<transformation
			transformationID="statemachine::rules::CompleteSM::C++"
			class="org.eclipse.papyrus.designer.transformation.languages.cpp.library.statemachine.CompleteStatemachine">
		</transformation>
	</extension>

	<extension point="org.eclipse.emf.ecore.uri_mapping">
    	<mapping
          source="pathmap://DML_TRAFOS_CPP/"
          target="platform:/plugin/org.eclipse.papyrus.designer.transformation.languages.cpp.library/models/library/">
		</mapping>
	</extension>

	<extension point="org.eclipse.emf.common.ui.examples">
		<example
			id="org.eclipse.papyrus.designer.examples.DesignerExamplesWithM2Mtrafo.cpp"
			pageImage="platform:/plugin/org.eclipse.papyrus.designer.ui/icons/PapyrusLogo_48x48.png"
			wizardID="org.eclipse.papyrus.designer.examples.category.DesignerExamplesWithM2Mtrafo.installer">
			<projectDescriptor
				contentURI="models/examples/HelloWorldCpp/"
				name="HelloWorldCpp"
				description="Papyrus Designer C++ hello world example with a deployment plan.">
			</projectDescriptor>
			<fileToOpen
				location="HelloWorldCpp/HelloWorldCpp.di">
			</fileToOpen>
			<projectDescriptor
				contentURI="models/examples/SimpleSM/"
				name="SimpleSM"
				description="Papyrus Designer example using a busing a simple state machine.">
			</projectDescriptor>
			<fileToOpen
				location="SimpleSM/SimpleSM.di">
			</fileToOpen>
			<projectDescriptor
				contentURI="models/examples/AbitComplexSM/"
				name="AbitComplexSM"
				description="Papyrus Designer example using a bit more complex state machine.">
			</projectDescriptor>
			<fileToOpen
				location="AbitComplexSM/AbitComplexSM.di">
			</fileToOpen>
		</example>
   </extension>

</plugin>
