<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Papyrus Neon Nightly" sequenceNumber="1454070807">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.6.0.v20151209-2300"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.6.0.v20151209-2300"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.12.0.v20151209-2300"/>
      <unit id="org.eclipse.acceleo.feature.group" version="3.6.2.201512111602"/>
      <unit id="org.eclipse.cdt.feature.group" version="8.8.0.201511071104"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.0.300.v20150907-2149"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.6.200.v20151113-1733"/>
      <repository id="eclipse-neon" location="http://download.eclipse.org/releases/neon/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.0.0"/>
      <repository id="eclipse-papyrus-nighlty-neon" location="http://download.eclipse.org/modeling/mdt/papyrus/updates/nightly/neon/main/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.extra.marte.feature.feature.group" version="0.0.0"/>
      <repository id="eclipse-papyrus-extra-nighlty-neon" location="http://download.eclipse.org/modeling/mdt/papyrus/updates/nightly/neon/extra/"/>
    </location>
  </locations>
</target>
