<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.papyrus.views.category"
            class="org.eclipse.papyrus.designer.languages.cpp.view.CppPanelView"
            icon="resources/icons/transfo_cpp.gif"
            id="org.eclipse.papyrus.designer.languages.cpp.view.cpp"
            name="C/C++"/>
   </extension>
</plugin>
